<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
<dict>
    <key>4352</key>
    <string>ㄱ</string>
    
    <key>4354</key>
    <string>ㄴ</string>
    
    <key>4355</key>
    <string>ㄷ</string>
    
    <key>4357</key>
    <string>ㄹ</string>
    
    <key>4358</key>
    <string>ㅁ</string>
    
    <key>4359</key>
    <string>ㅂ</string>
    
    <key>4361</key>
    <string>ㅅ</string>
    
    <key>4363</key>
    <string>ㅇ</string>
    
    <key>4364</key>
    <string>ㅈ</string>
    
    <key>4366</key>
    <string>ㅊ</string>
    
    <key>4367</key>
    <string>ㅋ</string>
    
    <key>4368</key>
    <string>ㅌ</string>
    
    <key>4369</key>
    <string>ㅍ</string>
    
    <key>4370</key>
    <string>ㅎ</string>
    
    <key>4353</key>
    <string>ㄲ</string>
    
    <key>4356</key>
    <string>ㄸ</string>
    
    <key>4360</key>
    <string>ㅃ</string>
    
    <key>4362</key>
    <string>ㅆ</string>
    
    <key>4365</key>
    <string>ㅉ</string>
</dict>
</plist>
